body {
  font-family: 'Rajdhani', sans-serif;
  background: url('../assets/bg.jpg');
  background-color: #F4F8E1;
  color: #A2000B;
  margin: 0;
}

.wrapper {
  margin: 2em auto;
  background-image: url("../assets/colcha.png");
  background-repeat: no-repeat;
  height: 960px;
  position: relative;
}

.masonry {
  display: flex;
  width: 100%;
}
.masonry--h {
  margin-left: -8px;
  counter-reset: brick;
  flex-flow: row wrap;
}
.masonry-brick {
  overflow: hidden;
  border-radius: 5px;
  margin: 0 0 8px 8px;
  color: white;
  position: relative;
}
.masonry-brick--h {
  flex: auto;
}

/*.hidden {
  display: none;
}*/
.is-hidden {
  display: none;
}

.colcha-nav {
  background-color: #FFF8F5;
  justify-content: space-around;
  height: 91px;
}
.colcha-nav a {
  color: #333;
  text-transform: uppercase;
}
a.navbar-brand img {
  width: 100%;
}
.navbar-nav .nav-link{
  padding: .5rem 1.8rem;
}

ul.nav.colcha-menu li {
  border-right: 2px dashed #A2000B;
  line-height: 0px;
}

.retazo-colcha {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border-left: 2px dashed;
}

.masonry.masonry--h a:hover{
  background: red;
  box-shadow: 0px 0px 50px black;
  border-radius: 5px;
}

audio {
    background-color: #95B9C7;
}