.btn-img1,
a.btn-img1.active {
  width: 89px;
  height: 76px;
  opacity: 0.1;
  position: absolute;
  top: 32px;
  left: 40px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-5deg);
  -webkit-transform: skew(-5deg);
     -moz-transform: skew(-5deg);
       -o-transform: skew(-5deg);
}
.btn-img2 {
  width: 97px;
  height: 87px;
  opacity: 0.2;
  position: absolute;
  top: 24px;
  left: 131px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-2deg);
  -webkit-transform: skew(-2deg);
     -moz-transform: skew(-2deg);
       -o-transform: skew(-2deg);
}
.btn-img3 {
  width: 71px;
  height: 88px;
  opacity: 0.2;
  position: absolute;
  top: 24px;
  left: 230px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-2deg);
  -webkit-transform: skew(-2deg);
     -moz-transform: skew(-2deg);
       -o-transform: skew(-2deg);
}
/**/
.btn-img4 {
  width: 89px;
  height: 74px;
  opacity: 0.1;
  position: absolute;
  top: 113px;
  left: 34px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-2deg);
  -webkit-transform: skew(-2deg);
     -moz-transform: skew(-2deg);
       -o-transform: skew(-2deg);
}
.btn-img5 {
  width: 90px;
  height: 73px;
  opacity: 0.1;
  position: absolute;
  top: 109px;
  left: 124px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-3deg);
  -webkit-transform: skew(-3deg);
     -moz-transform: skew(-3deg);
       -o-transform: skew(-3deg);
}
.btn-img6 {
  width: 99px;
  height: 77px;
  opacity: 0.1;
  position: absolute;
  top: 111px;
  left: 216px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-3deg);
  -webkit-transform: skew(-3deg);
     -moz-transform: skew(-3deg);
       -o-transform: skew(-3deg);
}
.btn-img7,
a.btn-img7.active {
  width: 92px;
  height: 93px;
  opacity: 0.2;
  position: absolute;
  top: 102px;
  left: 317px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-5deg);
  -webkit-transform: skew(-5deg);
     -moz-transform: skew(-5deg);
       -o-transform: skew(-5deg);
}
.btn-img8,
a.btn-img8.active {
  width: 102px;
  height: 99px;
  opacity: 0.1;
  position: absolute;
  top: 103px;
  left: 409px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-4deg);
  -webkit-transform: skew(-4deg);
     -moz-transform: skew(-4deg);
	     -o-transform: skew(-4deg);
}
.btn-img9 {
  width: 126px;
  height: 100px;
  opacity: 0.1;
  position: absolute;
  top: 108px;
  left: 513px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-5deg);
  -webkit-transform: skew(-5deg);
     -moz-transform: skew(-5deg);
       -o-transform: skew(-5deg);
}
.btn-img10 {
  width: 174px;
  height: 111px;
  opacity: 0.2;
  position: absolute;
  top: 105px;
  left: 644px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-3deg);
  -webkit-transform: skew(-3deg);
     -moz-transform: skew(-3deg);
       -o-transform: skew(-3deg);
}
.btn-img11 {
  width: 149px;
  height: 108px;
  opacity: 0.1;
  position: absolute;
  top: 129px;
  left: 819px;
  z-index: 1;
  transition: all 0.1s ease-in-out;
          transform: skew(-2deg);
  -webkit-transform: skew(-2deg);
     -moz-transform: skew(-2deg);
       -o-transform: skew(-2deg);
}
a.btn-img11:hover:before {
    transition: all 0.2s ease-in-out;
    content: '';
    border: 47px solid red;
    width: 41px;
    height: 5px;
    border-radius: 5px 0;
    position: absolute;
    top: -24px;
    left: -1px;
}
a.btn-img11:hover:after {
    transition: all 0.2s ease-in-out;
    content: '';
    border: 19px solid red;
    width: 26px;
    height: 9px;
    position: absolute;
    top: -31px;
    left: 82px;
    border-radius: 13px;
            transform: skew(65deg);
    -webkit-transform: skew(65deg);
     -moz-transform: skew(65deg);
       -o-transform: skew(65deg);
}
/**/
.btn-img12 {
  width: 234px;
  height: 176px;
  opacity: 0.1;
  position: absolute;
  top: 192px;
  left: 30px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-4deg);
  -webkit-transform: skew(-4deg);
     -moz-transform: skew(-4deg);
       -o-transform: skew(-4deg);
}
.btn-img13 {
  width: 91px;
  height: 180px;
  opacity: 0.2;
  position: absolute;
  top: 191px;
  left: 268px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-4deg);
  -webkit-transform: skew(-4deg);
     -moz-transform: skew(-4deg);
       -o-transform: skew(-4deg);
}
.btn-img14 {
  width: 107px;
  height: 88px;
  opacity: 0.3;
  position: absolute;
  top: 200px;
  left: 361px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-8deg);
  -webkit-transform: skew(-8deg);
     -moz-transform: skew(-8deg);
       -o-transform: skew(-8deg);
}
.btn-img15 {
  width: 108px;
  height: 86px;
  opacity: 0.2;
  position: absolute;
  top: 286px;
  left: 353px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-8deg);
  -webkit-transform: skew(-8deg);
     -moz-transform: skew(-8deg);
       -o-transform: skew(-8deg);
}
.btn-img16 {
  width: 190px;
  height: 166px;
  opacity: 0.1;
  position: absolute;
  top: 208px;
  left: 464px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-5deg);
  -webkit-transform: skew(-5deg);
     -moz-transform: skew(-5deg);
       -o-transform: skew(-5deg);
}
.btn-img17 {
  width: 164px;
  height: 157px;
  opacity: 0.1;
  position: absolute;
  top: 224px;
  left: 655px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-2deg);
  -webkit-transform: skew(-2deg);
     -moz-transform: skew(-2deg);
       -o-transform: skew(-2deg);
}
.btn-img18 {
  width: 138px;
  height: 170px;
  opacity: 0.2;
  position: absolute;
  top: 242px;
  left: 817px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-2deg);
  -webkit-transform: skew(-2deg);
     -moz-transform: skew(-2deg);
       -o-transform: skew(-2deg);
}
/**/
.btn-img19 {
  width: 157px;
  height: 138px;
  opacity: 0.2;
  position: absolute;
  top: 375px;
  left: 36px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(5deg);
  -webkit-transform: skew(5deg);
     -moz-transform: skew(5deg);
       -o-transform: skew(5deg);
}
.btn-img20 {
  width: 118px;
  height: 140px;
  opacity: 0.2;
  position: absolute;
  top: 371px;
  left: 199px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-2deg);
  -webkit-transform: skew(-2deg);
     -moz-transform: skew(-2deg);
       -o-transform: skew(-2deg);
}
.btn-img21 {
  width: 103px;
  height: 142px;
  opacity: 0.2;
  position: absolute;
  top: 371px;
  left: 318px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-6deg);
  -webkit-transform: skew(-6deg);
     -moz-transform: skew(-6deg);
       -o-transform: skew(-6deg);
}
.btn-img22 {
  width: 160px;
  height: 146px;
  opacity: 0.1;
  position: absolute;
  top: 375px;
  left: 420px;
  z-index: 1;
  transition: all 0.1s ease-in-out;
          transform: skew(-5deg);
  -webkit-transform: skew(-5deg);
     -moz-transform: skew(-5deg);
       -o-transform: skew(-5deg);
}
a.btn-img22:hover:before {
  content: '';
  border: 49px solid red;
  position: absolute;
  right: -8px;
  width: 4px;
  height: 27px;
  bottom: 0;
  border-radius: 9px 0;
          transform: skew(2deg);
  -webkit-transform: skew(2deg);
     -moz-transform: skew(2deg);
       -o-transform: skew(2deg);
}
.btn-img23 {
  width: 117px;
  height: 136px;
  opacity: 0.2;
  position: absolute;
  top: 384px;
  left: 588px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-3deg);
  -webkit-transform: skew(-3deg);
     -moz-transform: skew(-3deg);
       -o-transform: skew(-3deg);
}
.btn-img24 {
  width: 109px;
  height: 132px;
  opacity: 0.1;
  position: absolute;
  top: 389px;
  left: 706px;
  z-index: 1;
  transition: all 0.1s ease-in-out;
          transform: skew(-4deg);
  -webkit-transform: skew(-4deg);
     -moz-transform: skew(-4deg);
       -o-transform: skew(-4deg);
}
a.btn-img24:hover:after {
  content: '';
  border: 24px solid red;
  position: absolute;
  bottom: -8px;
  right: -6px;
          transform: skew(8deg);
  -webkit-transform: skew(8deg);
     -moz-transform: skew(8deg);
       -o-transform: skew(8deg);
}
.btn-img25 {
  width: 146px;
  height: 205px;
  opacity: 0.2;
  position: absolute;
  top: 412px;
  left: 818px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-1deg);
  -webkit-transform: skew(-1deg);
     -moz-transform: skew(-1deg);
       -o-transform: skew(-1deg);
}
/**/
.btn-img26 {
  width: 54px;
  height: 96px;
  opacity: 0.2;
  position: absolute;
  top: 516px;
  left: 52px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(6deg);
  -webkit-transform: skew(6deg);
     -moz-transform: skew(6deg);
       -o-transform: skew(6deg);
}
.btn-img27 {
  width: 106px;
  height: 97px;
  opacity: 0.2;
  position: absolute;
  top: 517px;
  left: 105px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(4deg);
  -webkit-transform: skew(4deg);
     -moz-transform: skew(4deg);
       -o-transform: skew(4deg);
}
.btn-img28 {
  width: 168px;
  height: 99px;
  opacity: 0.1;
  position: absolute;
  top: 515px;
  left: 211px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(4deg);
  -webkit-transform: skew(4deg);
     -moz-transform: skew(4deg);
       -o-transform: skew(4deg);
}
.btn-img29 {
  width: 50px;
  height: 94px;
  opacity: 0.3;
  position: absolute;
  top: 520px;
  left: 381px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-1deg);
  -webkit-transform: skew(-1deg);
     -moz-transform: skew(-1deg);
       -o-transform: skew(-1deg);
}
.btn-img30 {
  width: 140px;
  height: 89px;
  opacity: 0.1;
  position: absolute;
  top: 520px;
  left: 431px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-3deg);
  -webkit-transform: skew(-3deg);
     -moz-transform: skew(-3deg);
       -o-transform: skew(-3deg);
}
.btn-img31 {
  width: 98px;
  height: 88px;
  opacity: 0.1;
  position: absolute;
  top: 523px;
  left: 569px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-7deg);
  -webkit-transform: skew(-7deg);
     -moz-transform: skew(-7deg);
       -o-transform: skew(-7deg);
}
.btn-img32 {
  width: 152px;
  height: 89px;
  opacity: 0.3;
  position: absolute;
  top: 527px;
  left: 669px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-5deg);
  -webkit-transform: skew(-5deg);
     -moz-transform: skew(-5deg);
       -o-transform: skew(-5deg);
}
/**/
.btn-img33 {
  width: 96px;
  height: 100px;
  opacity: 0.3;
  position: absolute;
  top: 612px;
  left: 44px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(2deg);
  -webkit-transform: skew(2deg);
     -moz-transform: skew(2deg);
       -o-transform: skew(2deg);
}
.btn-img34 {
  width: 99px;
  height: 98px;
  opacity: 0.2;
  position: absolute;
  top: 614px;
  left: 142px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(2deg);
  -webkit-transform: skew(2deg);
     -moz-transform: skew(2deg);
       -o-transform: skew(2deg);
}
.btn-img35 {
  width: 58px;
  height: 96px;
  opacity: 0.2;
  position: absolute;
  top: 613px;
  left: 241px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(1deg);
  -webkit-transform: skew(1deg);
     -moz-transform: skew(1deg);
       -o-transform: skew(1deg);
}
.btn-img36 {
  width: 99px;
  height: 98px;
  opacity: 0.2;
  position: absolute;
  top: 614px;
  left: 300px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-4deg);
  -webkit-transform: skew(-4deg);
     -moz-transform: skew(-4deg);
       -o-transform: skew(-4deg);
}
.btn-img37 {
  width: 99px;
 height: 113px;
 opacity: 0.2;
 position: absolute;
 top: 608px;
 left: 405px;
 z-index: 1;
 transition: all 0.1s ease-in-out;
         transform: skew(6deg);
  -webkit-transform: skew(6deg);
     -moz-transform: skew(6deg);
       -o-transform: skew(6deg);
}
a.btn-img37:hover:before {
  content: '';
  border: 37px solid red;
  position: absolute;
  bottom: 0;
  left: -6px;
          transform: skew(-5deg);
  -webkit-transform: skew(-5deg);
   -moz-transform: skew(-5deg);
     -o-transform: skew(-5deg);
}
.btn-img38 {
  width: 112px;
  height: 117px;
  opacity: 0.3;
  position: absolute;
  top: 611px;
  left: 515px;
  z-index: 1;
  transition: all 0.1s ease-in-out;
          transform: skew(-5deg);
  -webkit-transform: skew(-5deg);
     -moz-transform: skew(-5deg);
       -o-transform: skew(-5deg);
}
a.btn-img38:hover:before {
    content: '';
    border: 55px solid red;
    position: absolute;
    left: -13px;
    top: -2px;
            transform: skew(10deg);
    -webkit-transform: skew(10deg);
     -moz-transform: skew(10deg);
       -o-transform: skew(10deg);
}
.btn-img39 {
  width: 96px;
  height: 111px;
  opacity: 0.2;
  position: absolute;
  top: 614px;
  left: 625px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-8deg);
  -webkit-transform: skew(-8deg);
     -moz-transform: skew(-8deg);
       -o-transform: skew(-8deg);
}
.btn-img40 {
  width: 95px;
  height: 100px;
  opacity: 0.2;
  position: absolute;
  top: 622px;
  left: 723px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-5deg);
  -webkit-transform: skew(-5deg);
     -moz-transform: skew(-5deg);
       -o-transform: skew(-5deg);
}
.btn-img41 {
  width: 143px;
  height: 208px;
  opacity: 0.2;
  position: absolute;
  top: 617px;
  left: 819px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-1deg);
  -webkit-transform: skew(-1deg);
     -moz-transform: skew(-1deg);
       -o-transform: skew(-1deg);
}
/**/
.btn-img42 {
  width: 99px;
  height: 99px;
  opacity: 0.3;
  position: absolute;
  top: 711px;
  left: 42px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(2deg);
  -webkit-transform: skew(2deg);
     -moz-transform: skew(2deg);
       -o-transform: skew(2deg);
}
.btn-img43 {
  width: 96px;
  height: 96px;
  opacity: 0.3;
  position: absolute;
  top: 712px;
  left: 142px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(1deg);
  -webkit-transform: skew(1deg);
     -moz-transform: skew(1deg);
       -o-transform: skew(1deg);
}
.btn-img44 {
  width: 96px;
  height: 100px;
  opacity: 0.3;
  position: absolute;
  top: 710px;
  left: 238px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-3deg);
  -webkit-transform: skew(-3deg);
     -moz-transform: skew(-3deg);
       -o-transform: skew(-3deg);
}
.btn-img45 {
  width: 115px;
  height: 91px;
  opacity: 0.2;
  position: absolute;
  top: 720px;
  left: 335px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-6deg);
  -webkit-transform: skew(-6deg);
     -moz-transform: skew(-6deg);
       -o-transform: skew(-6deg);
}
a.btn-img45:hover {
  border-radius: 5px 28px 0 0 !important;
}
.btn-img46 {
  width: 86px;
  height: 88px;
  opacity: 0.3;
  position: absolute;
  top: 730px;
  left: 451px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-5deg);
  -webkit-transform: skew(-5deg);
     -moz-transform: skew(-5deg);
       -o-transform: skew(-5deg);
}
.btn-img47 {
  width: 46px;
  height: 92px;
  opacity: 0.3;
  position: absolute;
  top: 729px;
  left: 537px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-5deg);
  -webkit-transform: skew(-5deg);
     -moz-transform: skew(-5deg);
       -o-transform: skew(-5deg);
}
.btn-img48 {
  width: 97px;
  height: 90px;
  opacity: 0.2;
  position: absolute;
  top: 724px;
  left: 585px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-3deg);
  -webkit-transform: skew(-3deg);
     -moz-transform: skew(-3deg);
       -o-transform: skew(-3deg);
}
.btn-img49 {
  width: 56px;
  height: 90px;
  opacity: 0.2;
  position: absolute;
  top: 722px;
  left: 684px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-2deg);
  -webkit-transform: skew(-2deg);
     -moz-transform: skew(-2deg);
       -o-transform: skew(-2deg);
}
.btn-img50 {
  width: 76px;
  height: 203px;
  opacity: 0.2;
  position: absolute;
  top: 726px;
  left: 739px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-2deg);
  -webkit-transform: skew(-2deg);
     -moz-transform: skew(-2deg);
       -o-transform: skew(-2deg);
}
/**/
.btn-img51 {
  width: 92px;
  height: 101px;
  opacity: 0.2;
  position: absolute;
  top: 811px;
  left: 51px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(7deg);
  -webkit-transform: skew(7deg);
     -moz-transform: skew(7deg);
       -o-transform: skew(7deg);
}
.btn-img52 {
  width: 87px;
  height: 100px;
  opacity: 0.2;
  position: absolute;
  top: 809px;
  left: 145px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(3deg);
  -webkit-transform: skew(3deg);
     -moz-transform: skew(3deg);
       -o-transform: skew(3deg);
}
.btn-img53 {
  width: 92px;
  height: 95px;
  opacity: 0.23;
  position: absolute;
  top: 810px;
  left: 234px;
  z-index: 1;
  transition: all 0.1s ease-in-out;
          transform: skew(2deg);
  -webkit-transform: skew(2deg);
     -moz-transform: skew(2deg);
       -o-transform: skew(2deg);
}
a.btn-img53:hover:after {
  content: '';
  border: 27px solid red;
  position: absolute;
  right: -8px;
  top: 0px;
  border-radius: 9px;
  transform: skew(-6deg);
}
.btn-img54 {
  width: 106px;
  height: 98px;
  opacity: 0.23;
  position: absolute;
  top: 812px;
  left: 332px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-7deg);
  -webkit-transform: skew(-7deg);
     -moz-transform: skew(-7deg);
       -o-transform: skew(-7deg);
}
.btn-img55 {
  width: 90px;
  height: 98px;
  opacity: 0.3;
  position: absolute;
  top: 820px;
  left: 440px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-2deg);
  -webkit-transform: skew(-2deg);
     -moz-transform: skew(-2deg);
       -o-transform: skew(-2deg);
}

.btn-img56 {
  width: 90px;
  height: 95px;
  opacity: 0.2;
  position: absolute;
  top: 822px;
  left: 530px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-1deg);
  -webkit-transform: skew(-1deg);
     -moz-transform: skew(-1deg);
       -o-transform: skew(-1deg);
}
.btn-img57 {
  width: 118px;
  height: 99px;
  opacity: 0.2;
  position: absolute;
  top: 817px;
  left: 620px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-2deg);
  -webkit-transform: skew(-2deg);
     -moz-transform: skew(-2deg);
       -o-transform: skew(-2deg);
}
.btn-img58 {
  width: 146px;
  height: 108px;
  opacity: 0.2;
  position: absolute;
  top: 827px;
  left: 815px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
          transform: skew(-2deg);
  -webkit-transform: skew(-2deg);
     -moz-transform: skew(-2deg);
       -o-transform: skew(-2deg);
}
a.btn-img58:hover {
  border-radius: 5px 0 46px 0 !important;
}
