.btn-img1 {
  width: 90px;
  height: 72px;
  opacity: 0.1;
  position: absolute;
  top: 36px;
  left: 40px;
  z-index: 1;
}
.btn-img2 {
  width: 94px;
  height: 81px;
  opacity: 0.1;
  position: absolute;
  top: 24px;
  left: 133px;
  z-index: 1;
}
.btn-img3 {
  width: 70px;
  height: 88px;
  opacity: 0.1;
  position: absolute;
  top: 24px;
  left: 230px;
  z-index: 1;
}
/**/
.btn-img4 {
  width: 90px;
  height: 70px;
  opacity: 0.1;
  position: absolute;
  top: 116px;
  left: 32px;
  z-index: 1;
}
.btn-img5 {
  width: 90px;
  height: 70px;
  opacity: 0.1;
  position: absolute;
  top: 113px;
  left: 124px;
  z-index: 1;
}
.btn-img6 {
  width: 97px;
  height: 75px;
  opacity: 0.1;
  position: absolute;
  top: 113px;
  left: 216px;
  z-index: 1;
}
.btn-img7 {
  width: 92px;
  height: 90px;
  opacity: 0.1;
  position: absolute;
  top: 103px;
  left: 317px;
  z-index: 1;
}
.btn-img8 {
  width: 97px;
  height: 96px;
  opacity: 0.1;
  position: absolute;
  top: 103px;
  left: 414px;
  z-index: 1;
}
.btn-img9 {
  width: 132px;
  height: 96px;
  opacity: 0.1;
  position: absolute;
  top: 107px;
  left: 511px;
  z-index: 1;
}
.btn-img10 {
  width: 173px;
  height: 109px;
  opacity: 0.1;
  position: absolute;
  top: 107px;
  left: 644px;
  z-index: 1;
}
.btn-img11 {
  width: 153px;
  height: 127px;
  opacity: 0.1;
  position: absolute;
  top: 107px;
  left: 820px;
  z-index: 1;
}
/**/
.btn-img12 {
  width: 40px;
  height: 176px;
  opacity: 0.1;
  position: absolute;
  top: 194px;
  left: 30px;
  z-index: 1;
}
.btn-img13 {
  width: 200px;
  height: 176px;
  opacity: 0.1;
  position: absolute;
  top: 188px;
  left: 71px;
  z-index: 1;
}
.btn-img14 {
  width: 89px;
  height: 84px;
  opacity: 0.1;
  position: absolute;
  top: 191px;
  left: 272px;
  z-index: 1;
}
.btn-img15 {
  width: 85px;
  height: 85px;
  opacity: 0.1;
  position: absolute;
  top: 283px;
  left: 268px;
  z-index: 1;
}
.btn-img16 {
  width: 54px;
  height: 85px;
  opacity: 0.1;
  position: absolute;
  top: 200px;
  left: 364px;
  z-index: 1;
}
.btn-img17 {
  width: 45px;
  height: 85px;
  opacity: 0.1;
  position: absolute;
  top: 200px;
  left: 423px;
  z-index: 1;
}
.btn-img18 {
  width: 99px;
  height: 82px;
  opacity: 0.1;
  position: absolute;
  top: 288px;
  left: 357px;
  z-index: 1;
}
.btn-img19 {
  width: 187px;
  height: 157px;
  opacity: 0.1;
  position: absolute;
  top: 213px;
  left: 469px;
  z-index: 1;
}
.btn-img20 {
  width: 154px;
  height: 157px;
  opacity: 0.1;
  position: absolute;
  top: 224px;
  left: 661px;
  z-index: 1;
}
.btn-img21 {
  width: 130px;
  height: 167px;
  opacity: 0.1;
  position: absolute;
  top: 245px;
  left: 824px;
  z-index: 1;
}
/**/
.btn-img22 {
  width: 159px;
  height: 138px;
  opacity: 0.1;
  position: absolute;
  top: 377px;
  left: 36px;
  z-index: 1;
}
.btn-img23 {
  width: 111px;
  height: 137px;
  opacity: 0.1;
  position: absolute;
  top: 371px;
  left: 199px;
  z-index: 1;
}
.btn-img24 {
  width: 95px;
  height: 140px;
  opacity: 0.1;
  position: absolute;
  top: 371px;
  left: 321px;
  z-index: 1;
}
.btn-img25 {
  width: 155px;
  height: 140px;
  opacity: 0.1;
  position: absolute;
  top: 375px;
  left: 427px;
  z-index: 1;
}
.btn-img26 {
  width: 111px;
  height: 133px;
  opacity: 0.1;
  position: absolute;
  top: 384px;
  left: 589px;
  z-index: 1;
}
.btn-img27 {
  width: 102px;
  height: 132px;
  opacity: 0.1;
  position: absolute;
  top: 388px;
  left: 712px;
  z-index: 1;
}
.btn-img28 {
  width: 145px;
  height: 194px;
  opacity: 0.1;
  position: absolute;
  top: 415px;
  left: 818px;
  z-index: 1;
}
/**/
.btn-img29 {
  width: 59px;
  height: 94px;
  opacity: 0.1;
  position: absolute;
  top: 517px;
  left: 45px;
  z-index: 1;
}
.btn-img30 {
  width: 101px;
  height: 94px;
  opacity: 0.1;
  position: absolute;
  top: 519px;
  left: 108px;
  z-index: 1;
}
.btn-img31 {
  width: 163px;
  height: 94px;
  opacity: 0.1;
  position: absolute;
  top: 516px;
  left: 213px;
  z-index: 1;
}
.btn-img32 {
  width: 47px;
  height: 93px;
  opacity: 0.1;
  position: absolute;
  top: 519px;
  left: 383px;
  z-index: 1;
}
.btn-img33 {
  width: 128px;
  height: 85px;
  opacity: 0.1;
  position: absolute;
  top: 521px;
  left: 435px;
  z-index: 1;
}
.btn-img34 {
  width: 87px;
  height: 88px;
  opacity: 0.1;
  position: absolute;
  top: 522px;
  left: 579px;
  z-index: 1;
}
.btn-img35 {
  width: 145px;
  height: 87px;
  opacity: 0.1;
  position: absolute;
  top: 527px;
  left: 673px;
  z-index: 1;
}
/**/
.btn-img36 {
  width: 93px;
  height: 94px;
  opacity: 0.1;
  position: absolute;
  top: 614px;
  left: 44px;
  z-index: 1;
}
.btn-img37 {
  width: 93px;
  height: 94px;
  opacity: 0.1;
  position: absolute;
  top: 616px;
  left: 144px;
  z-index: 1;
}
.btn-img38 {
  width: 54px;
  height: 94px;
  opacity: 0.1;
  position: absolute;
  top: 616px;
  left: 242px;
  z-index: 1;
}
.btn-img39 {
  width: 97px;
  height: 94px;
  opacity: 0.1;
  position: absolute;
  top: 616px;
  left: 300px;
  z-index: 1;
}
.btn-img40 {
  width: 95px;
 height: 101px;
 opacity: 0.1;
 position: absolute;
 top: 616px;
 left: 403px;
 z-index: 1;
}
.btn-img41 {
  width: 109px;
  height: 110px;
  opacity: 0.1;
  position: absolute;
  top: 614px;
  left: 510px;
  z-index: 1;
}
.btn-img42 {
  width: 88px;
  height: 102px;
  opacity: 0.1;
  position: absolute;
  top: 618px;
  left: 634px;
  z-index: 1;
}
.btn-img43 {
  width: 91px;
  height: 96px;
  opacity: 0.1;
  position: absolute;
  top: 624px;
  left: 726px;
  z-index: 1;
}
.btn-img44 {
  width: 140px;
  height: 203px;
  opacity: 0.1;
  position: absolute;
  top: 620px;
  left: 821px;
  z-index: 1;
}
/**/
.btn-img45 {
  width: 95px;
  height: 94px;
  opacity: 0.1;
  position: absolute;
  top: 713px;
  left: 44px;
  z-index: 1;
}
.btn-img46 {
  width: 92px;
  height: 94px;
  opacity: 0.1;
  position: absolute;
  top: 713px;
  left: 143px;
  z-index: 1;
}
.btn-img47 {
  width: 93px;
  height: 94px;
  opacity: 0.1;
  position: absolute;
  top: 713px;
  left: 240px;
  z-index: 1;
}
.btn-img48 {
  width: 53px;
  height: 92px;
  opacity: 0.1;
  position: absolute;
  top: 718px;
  left: 337px;
  z-index: 1;
}
.btn-img49 {
  width: 56px;
  height: 84px;
  opacity: 0.1;
  position: absolute;
  top: 726px;
  left: 394px;
  z-index: 1;
}
.btn-img50 {
  width: 77px;
  height: 84px;
  opacity: 0.1;
  position: absolute;
  top: 732px;
  left: 455px;
  z-index: 1;
}
.btn-img51 {
  width: 41px;
  height: 89px;
  opacity: 0.1;
  position: absolute;
  top: 731px;
  left: 540px;
  z-index: 1;
}
.btn-img52 {
  width: 97px;
  height: 86px;
  opacity: 0.1;
  position: absolute;
  top: 728px;
  left: 584px;
  z-index: 1;
}
.btn-img53 {
  width: 54px;
  height: 86px;
  opacity: 0.1;
  position: absolute;
  top: 724px;
  left: 684px;
  z-index: 1;
}
.btn-img54 {
  width: 73px;
  height: 201px;
  opacity: 0.1;
  position: absolute;
  top: 728px;
  left: 741px;
  z-index: 1;
}
.btn-img55 {
  width: 137px;
  height: 105px;
  opacity: 0.1;
  position: absolute;
  top: 828px;
  left: 816px;
  z-index: 1;
}
/**/
.btn-img56 {
  width: 88px;
  height: 100px;
  opacity: 0.1;
  position: absolute;
  top: 811px;
  left: 53px;
  z-index: 1;
}
.btn-img57 {
  width: 84px;
  height: 100px;
  opacity: 0.1;
  position: absolute;
  top: 810px;
  left: 148px;
  z-index: 1;
}
.btn-img58 {
  width: 90px;
  height: 95px;
  opacity: 0.1;
  position: absolute;
  top: 810px;
  left: 234px;
  z-index: 1;
}
.btn-img59 {
  width: 97px;
  height: 98px;
  opacity: 0.1;
  position: absolute;
  top: 813px;
  left: 336px;
  z-index: 1;
}
.btn-img60 {
  width: 90px;
  height: 98px;
  opacity: 0.1;
  position: absolute;
  top: 820px;
  left: 440px;
  z-index: 1;
}
.btn-img61 {
  width: 85px;
  height: 93px;
  opacity: 0.1;
  position: absolute;
  top: 823px;
  left: 533px;
  z-index: 1;
}
.btn-img62 {
  width: 112px;
  height: 95px;
  opacity: 0.1;
  position: absolute;
  top: 819px;
  left: 622px;
  z-index: 1;
}
