
/* content */
.colections-banner {
  background-color: rgb(247,247,247);
  padding: 4rem 5rem;
}

.colections-content,
.colections-info{
  letter-spacing: 0.5px;
}
.colections-content p {
  margin-top: 24px;
  text-align: justify;
}
.colections-e {
  color: rgb(100,8,97);
}
.divider {
  border: .5px solid grey;
  margin: 28px 0;
}

.colections-vocabulary {
  margin-top: 28px;
}

.colections-info a {
  color: #333;
  border-bottom: 2px solid rgb(190,180,0);
}

/* Gallery */
.artist-h3 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bolder;
}
.artist-p {
  font-size: .8rem;
}
.artist-figcaption {
  border-bottom: 1px solid;
  background: transparent !important;
}
