body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(247,247,247);
  color: #414042;
  font-size: .95rem;
}

h1, h2 {
  font-family: 'Arapey', serif;
  letter-spacing: 10px;
  color: rgb(190,180,0);
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
}
h2 {
  text-transform: lowercase;
  font-size: 2.5rem;
}
h3 {
  font-size: 1.2rem;
  letter-spacing: 3px;
}

h1 span {
  text-transform: initial;
  font-style: italic;
}

a {
  color: #414042;
}
a:hover {
  text-decoration: none;
  color: rgb(190,180,0);
}

p {
  letter-spacing: 0.5px;
}

/* Menú */
.sticky-top {
  z-index: 1;
}
.colections-header {
  background: white;
}
.colections-header .navbar {
  padding: 1.5rem 5rem;
}
.colections-header .navbar-nav a {
  text-transform: uppercase;
  color: #414042;
  font-size: .9em;
  letter-spacing: 5px;
}

/* Banner */
.container-fluid.coleccion-banner img {
  width: 100%;
}
.colections-banner {
  background-color: rgb(247,247,247);
}
.coleccion-banner {
  position: relative;
}
.coleccion-button {
  position: absolute;
  top: 260px;
  right: 200px;
  border: none;
  background: rgb(190,180,0);
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 13px 23px;
  font-weight: 300;
  font-size: 0.8rem;
}
.coleccion-button:hover {
  color: white;
  background-color: #B3AC45;
  text-decoration: none;
}

/* Content */
.green-line {
  display: inline-block;
  background: rgb(190,180,0);
  width: 500px;
  height: 1px;
  vertical-align: middle;
}
.green-line.two {
  width: 150px;
}
.green-line-g {
  width: 450px;
}
.green-line-b {
  width: 250px;
  margin-right: 18px;
}
.green-line-gt {
  width: 370px;
}
.green-line-c {
  width: 200px;
}

.colecciones-a {
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #414042;
  padding: 12px 20px;
  border-bottom: 2px solid rgb(190,180,0);
  float: left;
}
.colecciones-a:hover{
  text-decoration: none;
  color: #414042;
}

/* Footer */
footer {
  background-color: rgb(237,237,237);
  padding: 70px;
  text-align: center;
}
footer p {
  color: #58595b;
  font-weight: 300;
  font-size: .9em;
  margin-bottom: .3rem;
}
footer a {
  color: #58595b;
}
.mx-auto {
  text-align: center;
}
